<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradient Gen</title>

    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <hr>

        <form>
            <label>
                Color 1: <input type="color" v-model="firstColor">
            </label>

            <label>
                Color 2: <input type="color" v-model="secondColor">
            </label>

        </form>

        <p>Color 1: {{ firstColor }}</p>
        <p>Color 2: {{ secondColor }}</p>

    </div>







    <script src="./js/main.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>